<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/Home_Slider-001.jpg" alt="Guitars in the shop" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Home_Slider-002.jpg" alt="Guitars in the shop" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Home_Slider-003.jpg" alt="Guitars in the shop" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="ws-container text-center py-5">
    <h1 class="display-5 mb-3">Check out our axes and so much more!</h1>
    <a routerLink="/shop" class="btn btn-primary btn-lg">Shop now</a>
</section>
